<footer class="bg-gray-900 p-10" aria-labelledby="footer-heading">
    <h2 id="footer-heading" class="sr-only">Footer</h2>
    <div class="mx-auto max-w-7xl sm:py-7 lg:px-8 lg:py-15">
      <div class="xl:grid xl:grid-cols-3 xl:gap-8">
        <div class="mt-16 grid grid-cols-2 gap-8 xl:col-span-2 xl:mt-0">
          <div class="md:grid md:grid-cols-2 md:gap-8">
            <div>
              <h3 class="text-sm font-semibold leading-6 text-white">Features</h3>
              <ul role="list" class="mt-6 space-y-4">
                <li>
                  <a href="/cars" class="text-sm leading-6 text-gray-300 hover:text-white">Cars</a>
                </li>

                <li>
                  <a href="/variants" class="text-sm leading-6 text-gray-300 hover:text-white">Variants</a>
                </li>

                <li>
                  <a href="/metadata" class="text-sm leading-6 text-gray-300 hover:text-white">Metadata</a>
                </li>
              </ul>
            </div>
            <div class="mt-10 md:mt-0">
              <h3 class="text-sm font-semibold leading-6 text-white">Found a bug?</h3>
              <h3 class="text-sm font-semibold leading-6 text-white">Write to our team</h3>
              <ul role="list" class="mt-6 space-y-4">
                <li>
                  <a href="mailto:ameen@blueinsight.digital" class="text-sm leading-6 text-gray-300 hover:text-white">Customer Support</a>
                </li>

                <li>
                  <a href="mailto:divi@blueinsight.digital" class="text-sm leading-6 text-gray-300 hover:text-white">Ui bugs</a>
                </li>

                <li>
                  <a href="mailto:shohaib@blueinsight.digital" class="text-sm leading-6 text-gray-300 hover:text-white">Routing errors</a>
                </li>

                <li>
                  <a href="mailto:indireddy@blueinsight.digital" class="text-sm leading-6 text-gray-300 hover:text-white">Other bugs</a>
                </li>
              </ul>
            </div>
          </div>
          <div class="md:grid md:grid-cols-2 md:gap-8">
            <div>
              <h3 class="text-sm font-semibold leading-6 text-white">Company</h3>
              <ul role="list" class="mt-6 space-y-4">
                <li>
                  <a href="#" class="text-sm leading-6 text-gray-300 hover:text-white">About</a>
                </li>

                <li>
                  <a href="#" class="text-sm leading-6 text-gray-300 hover:text-white">Blog</a>
                </li>

                <li>
                  <a href="#" class="text-sm leading-6 text-gray-300 hover:text-white">Jobs</a>
                </li>

                <li>
                  <a href="#" class="text-sm leading-6 text-gray-300 hover:text-white">Press</a>
                </li>

                <li>
                  <a href="#" class="text-sm leading-6 text-gray-300 hover:text-white">Partners</a>
                </li>
              </ul>
            </div>
          </div>
      </div>
    </div>
        <div id="wcb" class="carbonbadge wcb-d content-baseline mt-10"></div>
          <script src="https://unpkg.com/website-carbon-badges@1.1.3/b.min.js" defer></script>
        </div>
    
</footer>

