<%if user_signed_in? && current_user.is_admin %>
  <h1>Editing variant</h1>

  <%= render "form", variant: @variant %>

  <br>
<%end%>

<div>
  <%= link_to "Show this Variant", @variant %> |
  <%= link_to "Back to Variants", variants_path %>
</div>
