<%if user_signed_in? && current_user.is_admin %>
  <h1>New Variant</h1>

  <%= render "form", variant: @variant %>

  <br>
<%end%>

<div>
  <%= link_to "Back to variants", variants_path, class: 'blue-link' %>
</div>
