<h1>Editing metadatum</h1>

<%= render "form", metadatum: @metadatum %>

<br>

<div>
  <%= link_to "Show this metadatum", @metadatum, class: "blue-link" %> |
  <%= link_to "Back to metadata", metadata_path, class: "blue-link" %>
</div>
